<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omg.department">
	<resultMap type="Departments" id="dto">
		<result property="departmentId" column="department_id"/>
		<result property="departmentName" column="department_name"/>
		<result property="departmentManager" column="department_manager"/>
	</resultMap>
	<resultMap type="Departments" id="dto2">
		<result property="departmentId" column="department_id"/>
		<result property="departmentName" column="department_name"/>
		<result property="departmentManager" column="department_manager"/>
		<result property="positionName" column="position_name"/>
		<result property="employeeName" column="name"/>
	</resultMap>
	
	
	<select id="selectDept" resultMap="dto">
		select * from departments
	</select>
	<select id="DeptIdByDeptName" resultType="String" parameterType="String">
		select department_id from departments where department_name = #{deptname}
	</select>
	<select id="selectByDeptName" resultMap="dto" parameterType="String">
		select * from departments where department_name = #{deptname}
	</select>
	
	<!-- 인사.회계팀 부서관리에서 부서 조회  -->
	<select id="p_deptConSelect" resultMap="dto2">
		select d.department_id, d.department_name, e.name, d.department_manager,(select position_name from position where position_id = e.position_id) position_name,
		       (select count(employee_id) from employees where department_id = e.department_id group by(department_id)) count
		from departments d, employees e        
		where  d.department_manager = e.employee_id(+) 
		order by d.department_name
			</select>
	
	<!-- 인사.회계팀 부서관리에서 부서 등록 -->
	<insert id="p_deptConInsert" parameterType="Departments">
		insert into departments values(#{departmentId},#{departmentName},#{departmentManager})
	</insert>
	
	<!-- 인사.회계팀 부서관리에서 부서 수정 (부장) -->
	<update id="p_deptConUpdate" parameterType="Departments">
		update departments set department_manager=#{departmentManager}  
		where department_id=#{departmentId}
	</update>

</mapper>