<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omg.mpro">
<resultMap type="MProcess" id="dto">
<result property="projectId" column="PROJECT_ID"/>
<result property="projectName" column="PROJECT_NAME"/>
<result property="startDate" column="START_DATE"/>
<result property="endDate" column="END_DATE"/>
<result property="tech" column="TECH_ID"/>
<result property="techName" column="TECH_NAME"/>
<result property="teamId" column="TEAM_ID"/>
<result property="departmentId" column="DEPARTMENT_ID"/>
<result property="employeeId" column="EMPLOYEE_ID"/>
<result property="employeeName" column="NAME"/>
<result property="phone" column="PHONE"/>
<result property="email" column="EMAIL"/>
<result property="positionName" column="POSITION_NAME"/>
</resultMap>

<!--현재 프로젝트 리스트  -->
<select id="relist" resultMap="dto" parameterType="String">
<![CDATA[ 	select * from employees e, project_emp pe, projects pro, project_tech prote, techs tech
where pe.employee_id= e.employee_id
and pe.project_id = pro.project_id
and prote.project_id = pro.project_id
and prote.tech_id = tech.tech_id
and e.employee_id= #{employeeId}
and sysdate >= start_date and sysdate <= end_date]]>
</select>

<!--현재 프로젝트 동료리스트  -->
<select id="colist" resultMap="dto">
<![CDATA[
select *
from projects p ,project_emp pe, employees e,position
where p.project_id = pe.project_id
and e.employee_id = pe.employee_id
and e.position_id = position.position_id
and p.start_date<=sysdate
and p.end_date>=sysdate
and e.team_id = #{teamId}
]]>
</select>

<select id="exlist" resultMap="dto" parameterType="String">
<![CDATA[ select * 
from employees e, project_emp pe, projects pro, project_tech prote, techs tech
where pe.employee_id= e.employee_id
and pe.project_id = pro.project_id
and prote.project_id = pro.project_id
and prote.tech_id = tech.tech_id
and e.employee_id= #{employeeId}
and sysdate >= end_date]]>
</select>

<select id="startProjects" resultMap="dto" parameterType="String">
<![CDATA[ select * from DEPARTMENTS dept, PROJECTS pro, EMPLOYEES emp, project_tech prote, techs tech
where emp.EMPLOYEE_ID = dept.DEPARTMENT_MANAGER
and pro.DEPARTMENT_ID = dept.DEPARTMENT_ID
and prote.project_id = pro.project_id
and prote.tech_id = tech.tech_id
and pro.START_DATE>=sysdate
and emp.EMPLOYEE_ID = #{employeeId} ]]>
</select>


<select id="sparelist" resultMap="dto">
select e.NAME, e.PHONE, e.EMAIL, p.POSITION_NAME, e.TEAM_ID 
from employees e, position p
where e.POSITION_ID = p.POSITION_ID
and e.EMPLOYEE_ID not in (
select e.EMPLOYEE_ID from employees e, project_emp pe
where e.EMPLOYEE_ID = pe.EMPLOYEE_ID)
and e.team_id = #{teamId}
</select>


<select id="putlist" resultMap="dto">
<![CDATA[
select * from project_emp pe, employees e, position po
where pe.EMPLOYEE_ID=e.EMPLOYEE_ID
and e.position_id=po.position_id
and project_id=
(
select pe.PROJECT_ID from employees e, project_emp pe, projects pro, project_tech prote, techs tech
where pe.employee_id= e.employee_id
and pe.project_id = pro.project_id
and prote.project_id = pro.project_id
and prote.tech_id = tech.tech_id
and sysdate <= start_date
and e.employee_id= #{employeeId})
]]>
</select>


</mapper>