<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omg.team">
	<resultMap type="Teams" id="dto">
		<result property="teamId" column="team_id"/>
		<result property="teamName" column="team_name"/>
		<result property="teamManager" column="team_manager"/>
		<result property="departmentId" column="department_id"/>
	</resultMap>
	<select id="selectTeam" resultMap="dto">
		select * from teams
	</select>
</mapper>