<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.omg.team">
	<resultMap type="Teams" id="dto">
		<result property="teamId" column="team_id"/>
		<result property="teamName" column="team_name"/>
		<result property="teamManager" column="team_manager"/>
		<result property="departmentId" column="department_id"/>
	</resultMap>
	<resultMap type="Teams" id="dto2">
		<result property="teamId" column="team_id"/>
		<result property="teamName" column="team_name"/>
		<result property="teamManager" column="team_manager"/>
		<result property="positionName" column="position_name"/>
		<result property="employeeName" column="name"/>
	</resultMap>

	
	<select id="selectTeam" resultMap="dto">
		select * from teams
	</select>
	
	<!-- 인사.회계팀 부서관리 팀 조회 -->
	<select id="p_teamConSelect" resultMap="dto2" parameterType="String">
		select t.team_id, t.team_name, e.name, t.team_manager,p.position_name, (select count(employee_id) from employees where team_id = e.team_id group by(team_id)) count
		from teams t, employees e, position p        
		where t.team_id = e.team_id and e.position_id = p.position_id and t.team_manager = e.employee_id
		and e.department_id=#{departmentId}
	</select>
	<!-- 인사.회계팀 부서관리에서 팀 등록 -->
	<insert id="p_teamConInsert" parameterType="Teams">
		insert into teams values(#{teamId},#{teamName},#{teamManager},#{departmentId})
	</insert>
	
	<!-- 인사.회계팀 부서관리에서 팀 수정 (팀장) -->
	<update id="p_teamConUpdate" parameterType="Teams">
		update teams set team_manager=#{teamManager}  
		where team_id=#{teamId}
	</update>
	
</mapper>